nav {
  background-color: #62c6f2;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* background-color: #62c6f2; */
  overflow: hidden;
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: white;
}

.active {
  background-color: #23afed;
}

.home-about {
  font-size: larger;
  font-weight: 100;
}
